div.onoPager {
    position: relative;
}

*.onoPager_listContainer {
    position: relative;
    overflow: hidden;
}

*.onoPager_listItem {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 10px 2px #cccccc;
    box-shadow: inset 0 0 10px 2px #cccccc;
}

a.onoPager_previous,
a.onoPager_next {
    -moz-transition: all 0.3s ease-out;  
    -o-transition: all 0.3s ease-out;  
    -webkit-transition: all 0.3s ease-out;  
    -ms-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;  
}

a.onoPager_previous.disabled,
a.onoPager_next.disabled {
    cursor: default;
    opacity: 0.3;
}

div.onoPager_pageByNumber a.onoPager_active {
    font-weight: bold;
}

div.onoPager_scroller {
  position: relative;
  height: 20px;
  background: #cccccc;
}

div.onoPager_scrollerHandle {
  cursor: w-resize;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  border: 1px solid #333333;
  width: 18px;
  height: 18px;
  background: #999999;
}

div.onoPager_autoPageContainer {
	width: 100%;
	height: 2px;
	background: #9a9abb;
}

div.onoPager_autoPageBar {
	width: 0;
	height: 2px;
	background: #0000ff;
}



div.onoPager_animation_linearContinous *.onoPager_listItem {
  position: relative;
  overflow: hidden;  
}

div.onoPager_animation_linearContinous *.onoPager_linearContinuous_background {
  position: absolute;
  left: -9999em;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e368df;
}

div.onoPager_animation_linearContinous *.onoPager_listItem:nth-child(2n) *.onoPager_linearContinuous_background {
  background: #7fe368;
}

div.onoPager_animation_linearContinous *.onoPager_linearContinuous_content {
  position: relative;
}
