body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0
}
html {
	height:100%;
	overflow:-moz-scrollbars-vertical;
	overflow-x:auto
}
table {
	border:0;
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal
}
em,cite {
	font-style:italic
}
strong {
	font-weight:bold
}
ol,ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0
}
q:before,q:after {
	content:''
}
abbr,acronym {
	border:0
}
a {
  color: #0000ff;
}

html {
	height: 100%;
}







body {
  margin: 0;
  padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h2 {
}

h4 {
  clear: both;
  font-size: 13px;
  font-weight: bold;
}





*.genericContent p + p {
  margin-top: 1em;
}

*.genericContent code {
  border-radius: 3px;
  padding: 1px 1px;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  font-size: 0.95em;
  background: rgba(255,255,255,0.7);
}




ul.simpleList {
  margin-left: 20px;
  list-style: disc;
}






div.intro {
	cursor: default;
	border-bottom: 1px solid #B44C00;
	padding: 6px 20px 10px 20px;
	color: #ffffff;
	min-height: 0;
	background: #EA6300;
}
div.intro:after {
  clear: both;
  display: block;
  width: 100%;
  content: "";
}

div.intro a {
	text-decoration: underline;
}
div.intro a:hover {
	text-decoration: none;
}

div.intro,
div.intro * {
	color: #ffffff;
}

div.intro p {
  max-width: 500px;
	margin: 0.5em 0 0 0;
	font-size: 12px;
	font-weight: normal;
}

div.intro span.logo {
	float: left;
	margin-top: -13px;
	font-family: Arial,sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 2px 2px 0px #743100;
	letter-spacing: -1px;
}

div.intro span.logo > span {
	position: relative;
	top: -2px;
	font-size: 28px;
}

div.intro div.hgroup {
	padding-left: 55px;
}

div.intro h1 {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 0px #743100;
}

div.intro h1,
div.intro h1 * {
	line-height: 24px;
}



div.intro2 {
	padding-left: 75px;
	border-bottom: 1px solid #B44C00;
	background: #eb7d2c;
}

div.intro2 h2 {
	margin-bottom: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 15px;
}

div.intro2 ul {
	list-style-type: square;
	font-size: 12px;
	padding-left: 10px;
}

div.intro2 li {
	padding: 2px 0;
}



div.content {
  padding: 20px 20px 20px 75px;
}

div.content1 {
  border-bottom: 1px solid #8c8cff;
  min-height: 0;
  background: #e6e6ff;
}
div.content1:after {
  clear: both;
  display: block;
  width: 100%;
  content: "";
}

div.content h1 {
  margin-bottom: 5px;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 15px;
}

div.content1 div.column1 {
  width: 20%;
  float: left;
}

div.content1 div.column1 select {
  border: 1px inset #999999;
  border-radius: 2px;
  width: 100%;
}

div.content1 div.column2 {
  margin-left: 5%;
  width: 20%;
  float: left;
}

div.content1 div.column3 {
  margin-left: 5%;
  width: 50%;
  float: left;
}



ul.editDemo {
  clear: both;
  min-height: 0;
}
ul.editDemo:after {
  clear: both;
  display: block;
  width: 100%;
  content: "";
}

ul.editDemo li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.editDemo li:first-child {
  float: left;
  width: 54%;
}
ul.editDemo li:first-child + li {
  float: left;
  width: 23%;
  padding-left: 30px;
}
ul.editDemo li:first-child + li + li {
  float: left;
  width: 23%;
  padding-left: 30px;
}

ul.editDemo textarea {
  width: 100%;
  border-radius: 2px;
  border: 1px inset #999999;
  height: 250px;
  font-size: 12px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

div.content2 h1 {
  float: left;
}

#runCode {
  float: left;
  margin: -4px 0 0 2em;
  border: 1px outset #cccccc;
  border-radius: 2px;
  box-shadow: inset 0 10px 1px rgba(255,255,255,0.2);
  padding: 3px 7px;
  color: #000000;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  text-shadow: 0 0 2px rgba(255,255,255,1);
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#999999)); 
  background-image: -webkit-linear-gradient(top, #dddddd, #999999); 
  background-image:    -moz-linear-gradient(top, #dddddd, #999999); 
  background-image:     -ms-linear-gradient(top, #dddddd, #999999); 
  background-image:      -o-linear-gradient(top, #dddddd, #999999); 
  background-image:         linear-gradient(top, #dddddd, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#999999'); 
}
#runCode:hover {
  background-color: #888888;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#888888)); 
  background-image: -webkit-linear-gradient(top, #dddddd, #888888); 
  background-image:    -moz-linear-gradient(top, #dddddd, #888888); 
  background-image:     -ms-linear-gradient(top, #dddddd, #888888); 
  background-image:      -o-linear-gradient(top, #dddddd, #888888); 
  background-image:         linear-gradient(top, #dddddd, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#888888'); 
}

#editDemo_result > div {
  margin-bottom: 1em; 
}




div.onoPager {
  float: left;
}

div.#editDemo_result.wide div.onoPager,
div.#editDemo_result.continuous div.onoPager,
div.#editDemo_result.continuousFaux div.onoPager {
  float: none;
}

div.#editDemo_result.scroller div.onoPager {
  padding-right: 20px;
}

div.onoPager_animation_linearContinuous {
  float: none;
  width: 100%;
  overflow: hidden;
}

div.onoPager_animation_linearContinuous div.onoPager_listContainer {
  margin: 0 auto;
  overflow: visible;
}



div.onoPager_scroller {
  position: absolute !important;
  top: 0;
  left: 281px;
}



div.addthis_toolbox {
  float: right;
  width: 414px;
  margin: 0 0 10px 5%;
}

div.addthis_toolbox > a {
  float: right !important;
}

a.addthis_button_google_plusone {
  position: relative;
  left: -10px;
}
