body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0
}
html {
	height:100%;
	overflow:-moz-scrollbars-vertical;
	overflow-x:auto
}
table {
	border:0;
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal
}
em,cite {
	font-style:italic
}
strong {
	font-weight:bold
}
ol,ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0
}
q:before,q:after {
	content:''
}
abbr,acronym {
	border:0
}
a {
  color: #0000ff;
}

html {
	height: 100%;
}







body {
	font-family: Arial, sans-serif;
	font-size: 14px;
  margin: 15px;
}

h1 {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 24px;
	font-weight: normal;
}

h2 {
	margin: 0 0 2em 0;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 16px;
	font-weight: normal;
}

h3 {
  clear: both;
	margin: 1em 0 0.5em 0;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 16px;
}
h3 a {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

h4 {
  clear: both;
  font-size: 13px;
  font-weight: bold;
}






div.title {
  min-height: 0;
}
div.title:after {
  clear: both;
  display: block;
  width: 100%;
  content: "";
}

div.title h3 {
  float: left;
}

div.break {
    height: 2em;
}

div.code {
  float: right;
  margin: 0 15px 0 0;
  position: relative;
  color: #0000ff;
  font-size: 12px;
  text-decoration: underline;
}

div.code pre {
  position: absolute;
  top: -10px;
  right: -25px;
  z-index: 100;
  opacity: 0;
  -moz-transition: all 0.3s ease-out;  
  -o-transition: all 0.3s ease-out;  
  -webkit-transition: all 0.3s ease-out;  
  -ms-transition: all 0.3s ease-out;  
  transition: all 0.3s ease-out;  
  border: 5px solid #dddddd;
  -moz-outline-radius: 4px; 
  -webkit-outline-radius: 4px; 
  outline-radius: 4px; 
  outline: 2px solid rgba(220,220,220,0.5);
  width: 100%;
  height: 0;
  text-align: left;
  padding: 5px;
  overflow-y: auto;
  color: #000000;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  text-decoration: none;
  background: #dddddd;
}
div.code:hover pre {
  opacity: 1;
  width: 300px;
  height: 210px;
}



ul.demos {
  margin: 0 0 20px -20px;
}

ul.demos > li {
  float: left;
  margin: 0 0 20px 20px;
  width: 300px;
  height: 210px;
}

ul.demos > li.wide {
  width: 425px;
}

ul.demos h4 {
  float: left;
  width: 250px;
  height: 3em;
}



ul.editDemo {
  min-height: 0;
}
ul.editDemo:after {
  clear: both;
  display: block;
  width: 100%;
  content: "";
}

ul.editDemo li:first-child {
  float: left;
  width: 45%
}
ul.editDemo li:first-child + li {
  float: left;
  width: 30%
}
ul.editDemo li:first-child + li + li {
  float: left;
  width: 25%
}

ul.editDemo textarea {
  width: 95%;
  height: 250px;
  font-size: 12px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

#editDemo_result > div {
  margin-bottom: 1em; 
}
